<div class="asked">
  <p class="text"><%= params[:question] %></p>
  <p class="person"><i>-You</i></p>
</div>

<div class="answer">
  <p class="text"><%= @answer %></p>
  <p class="person"><i>-Your coach</i></p>
</div>

<%= link_to 'Ask another question', root_path %>
